<div class="views">
<h2>Welcome</h2>
<br>
<ul>
  <li>If you would like to check your inventory: <em>click on the Inventory button</em></li>
  <br>
  <li>If you would like to add a new item to stock: <em>click on the New Stock button</em></li>
  <br>
  <li>If you would like to add a new Manufacturer: <em>click on the New Manufacturer button</em></li>
  <br>
  <li>If you would like to add a new item to Inventory: <em>click on the New Inventory button</em></li>
  <br>
  <li>If you would like to view your stock list: <em>click on the List Stock button</em></li>
  <br>
  <li>If you would like to view your manufacturers: <em>click on the list manufacturers button</em></li>
</ul>
</div>
