<div class = "views">
<h2>Enter a new Stock item</h2>
<form class="form" action="/stock-edit" method="post">
  <label for="stock.name">Name:</label>
  <input type="text" name="name"/>
  <input type="submit" value="New">
</form>
</div>
