<div class = "views">
<h1>Stock</h1>

<table class = 'stock'>
  <tr>
    <th>Name:</th>
  </tr>
  <% for item in @stock %>
  <tr>
    <td><%=item.name%></td>
    <td>
      <form action="/<%=item.id%>/stock-delete" method="post">
        <input type="submit" name="" value="Delete">
      </form>
    </td>
  </tr>
  <%end%>

</table>
</div>
